* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container-principale {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-end;

}
.container-header {
    height: 100vh;
    width: 10em;
}

header {
    background-color: black;
    width: 10em;
    height: 100vh;
    position: fixed;
}




.cont-lista-header {
    margin: 1em;
}

.logo {
    width: 80%;
    margin-top: 0.5em;
}

.cont-lista-header ul {
    list-style-type: none;
    color: #696969;
    margin-top: 2em;
    line-height: 3em;
    font-size: x-small;
}

#seconda-lista-header  {
    list-style-type: none;
    color: #696969;
    margin-top: 1em;
    line-height: 2.5em;
    font-size: x-small;
    padding-bottom: 4em;
}

li svg{
    width: 15%;
    vertical-align: -0.5em;
    margin-right: 0.3em;
}

li img{
    width: 15%;
    vertical-align: -0.3em;
    margin-right: 0.3em;
}

.cont-lista-header h5 {
    margin-top: 1em;
    color: #D2D2D2 ;
    display: block;
    margin-bottom: 0.5em;
}

.add-song {
    width: 1.5em;
    height: 1.5em;
    background-color: #A3A3A3;
    display: inline-block;
    font-size: large;
    margin-right: 0.2em;
}

.cont-lista-header span {
    font-size: small;
    vertical-align: 0.2em;
    color: #696969;
}

.fas.fa-plus {
    text-align: center;
    margin: 20%;
    color: black;
}

.container-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    
}

.main-header {
    background-color: #080B12;
    height: 5em;
    width: calc(100vw - 10em);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    flex-wrap: wrap;
    align-items: center;
}

.upgrade {
    padding: 0.7em 3em;
    border: 1px solid #ECECEC;
    border-radius: 20px;
    font-size: 10px;
    margin-right: 1em;
}

.main-header a {
    text-decoration: none;
    color: #ECECEC;
   
}

.main-main {
    background-color: #141922;
    height: 100vh;
    width: calc(100vw - 10em);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5em;
    
}

footer {
    height: 5em;
    background-color: #282828;
    width: 100vw;
    position: fixed;
}


.installazione  {
    margin-top:100%;
    font-size: x-small;
    color: #A3A3A3;
    border-bottom: solid 1px #A3A3A3 ;
    padding-bottom: 0.5em;
}

.installazione span  {
    font-size: x-small;
    color: #A3A3A3;
    margin-right: 0.5em;
}

.utente {
    color: white;
    font-size: x-small;
    font-weight: bold;
    margin-top: 0.5em;
}

.utente img {
    width: 8%;
    height: 8%;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.utente span {
    vertical-align: 0.1em;
    color: white;
    font-size: small;
}
  
