* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container-principale {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-end;

}
.container-header {
    height: 100vh;
    width: 10em;
}

header {
    background-color: black;
    width: 10em;
    height: 100vh;
    position: fixed;
}

header ul {
    font-size: small;
}

header div {
    color: white;
}

.cont-lista-header {
    margin: 1em;
}

.cont-lista-header ul {
    list-style-type: none;
    color: #D2D2D2;
    margin-top: 1em;
    line-height: 2em;
}

li svg{
    width: 15%;
    vertical-align: -0.3em;
    margin-right: 0.3em;
}

li img{
    width: 15%;
    vertical-align: -0.3em;
    margin-right: 0.3em;
}

.container-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    
}

.main-header {
    background-color: #080B12;
    height: 5em;
    width: calc(100vw - 10em);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
}

.main-main {
    background-color: #141922;
    height: 100vh;
    width: calc(100vw - 10em);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5em;
    
}

footer {
    height: 5em;
    background-color: #282828;
    width: 100vw;
    position: fixed;
}

